API_ID=26550183
API_HASH=25be30608ef422623c7d8a55bfb98c62
BOT_TOKEN=7909712343:AAGjKLcNyWTyoGTWK_nmdbzaA4ZMkajG1b0
OWNER_ID=6904648429
USER_ID=6904648429
LOGS_MAKER_UBOT=-1002557925562
BLACKLIST_CHAT=-1002620633078
MAX_BOT=50
COMMAND=.
MONGO_URL=mongodb+srv://bapakloanjing:KontolXD#123@bapakloanjing.muyhagw.mongodb.net/?retryWrites=true&w=majority&appName=bapakloanjing
